/*font-family: 'Playfair Display',
serif;
font-family: 'Poppins',
sans-serif;*/


body{
   
}
h1{
    color: black;
    font-family: 'Playfair Display',
    serif;
    font-weight: bolder;
}

p{
    font-family: 'Poppins',
    sans-serif;
    font-weight: normal;
}