/*font-family: 'Playfair Display',
serif;
font-family: 'Poppins',
sans-serif;*/


:root{ 
    --branding-color: #f38cb7;
    --secondary-color: #f9f7fe;
    --heading-font-family: 'Playfair Display',
    serif;
    --default-font-family:'Poppins',
    sans-serif;

}

h1, h2, h3, h4,h5,h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
h1{
    font-size: 96px;
}
h2{
    font-size: 64px;
}

h4{
    font-size: 48px;
}

p{
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.hero{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 85px 20px;
}

.hero p{
    font-family: var(--default-font-family);
    font-size: 36px;
    font-weight: bold;
    margin:0 ;
    color: #272142;
}
.hero h2{
    font-family: 'Poppins',
    sans-serif;
    font-weight: normal;
    line-height: 2;
    font-size: 18px;
    
}

.page-section{
    padding: 15px 20px;
   
}

.page-section h1{
    font-size: 64px;
    line-height: 80px;
}

.page-section h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.page-section h3 {
    font-size: 24px;
    font-family: var(--default-font-family);
    margin: 20px 0 0;
  }

.page-content{
    margin: 30px;
}


.btn-branding{
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.bnt-branding-outline{
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
   text-decoration: none;

}
.project-description{
    padding: 120px 60px ;
}
.logo{
    max-width: 90px;
    border-radius: 100px;
}

nav{
    padding: 20px 0;
}

nav li{
    display: inline;
    list-style: none;
   margin-left: 15px;
}


nav ul {
    padding: 0;
    margin: 0;
}

nav li.active a{
    color: var(--branding-color);
}

nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
    font-weight: bold;
       
}
nav a:hover{
    color: var(--branding-color);
}

footer{
    margin: 60px 0;

}

footer .contact-box{
    background-color: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p{
    margin: 0;
}
footer .email-link{
    text-decoration: none;
    color: black;
    font-size: 24px;
    
}

footer .email-link:hover {
    color: var(--branding-color);
    
}

footer .socialmedia a {
    margin: 0 20px;
    color: var(--branding-color);
    background-color: var(--secondary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;

}

footer .socialmedia a:hover{
    color: white;
    background-color: var(--branding-color);
}

@media(max-width: 900px){
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 44px;
        line-height: 2;
    }
    h4{
        font-size: 18px;
    }
    nav a{
        font-size: 15px;
    }

    .logo {
        max-width: 80px;
        border-radius: 9em;
    }

    .hero{
        padding: 80px 20px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }

    .page-section {
    padding: 0;
    text-align: center;
    }

    footer .contact-box{
        padding: 10px;
    }
}